
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  text-align: center;
  height: 100vh;
}

.login-box {
  width: 320px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.login-box .avatar {
  background: url('https://cdn-icons-png.flaticon.com/512/847/847969.png') no-repeat center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.login-box h2 {
  margin-bottom: 30px;
  color: #fff;
}

.textbox input {
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,0.2);
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}

.textbox input:focus {
  outline: none;
  background: rgba(255,255,255,0.3);
}

.options {
  display: flex;
  justify-content: left;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
}

.container {
  margin-top: 80px;
  display: none;
}

.input-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.paste-btn {
  padding: 10px 16px;
  background-color: white;
  color: #4a00e0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.download-btn {
  margin-top: 20px;
  padding: 12px 60px;
  background: linear-gradient(to right, #e040fb, #7c4dff);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.creator {
  margin-top: 30px;
  font-size: 18px;
}

.contact-box {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.contact-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
}

.contact-box a {
  display: block;
  margin: 10px 0;
  background: #d1c4e9;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}
